*{
	color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
@font-face{
	font-family: "Minecraft";
	src: url("Minecraft.woff2");
	font-weight: 400;
	font-style: normal;
}
.minecraft{
	font-family: "Minecraft", sans-serif;
}
body{
	display: flex;
  	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("neon.jpg");
	background-size: cover; 
  	background-position: center;
  	background-repeat: no-repeat;
	overflow-y: auto; 
}

h1 {
	padding: 75px 75px 45px 75px;
	font-size: 5rem;
	text-align:center;
}

#container{
	border:3px solid white;
	border-radius: 25px;
	padding: 25px;
	margin: 50px;
	box-shadow: 0 0 25px #f24ef5;
	width: 550px;
	backdrop-filter: blur(5px);
}
.form{
	display:flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
	backdrop-filter: blur(5px);
}
.input{
	border:1px solid white;
	border-radius: 25px;
	margin: 10px;
	padding: 10px;
	background: transparent;
}
.button{
	border:1px solid white;
	background-color: white;
	border-radius: 25px;
	color:#02041f;
	margin: 10px;
	padding: 10px 35px;
	box-shadow: 0 0 10px #f24ef5;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
}
.button:hover{
	transition-duration:1s;
	transform: scale(1.1);
}

/*GRID SPRITES CHARACTERS */
#skin-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.skin-canvas {
    width: 64px;
    height: 64px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.skin-canvas:hover {
    transform: scale(1.1);
}

.skin-selected {
    border-color: #00aaff;
    box-shadow: 0 0 10px #00aaff;
}


